@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #ffefef;
}

body {
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.header {
  text-align: center;
}

.nabidka {
  background: #fff;
}

.dish {
  max-width: 200px;
}

.dishes {
  margin: 0 auto;
}